{% extends './base.html.twig' %}
        {% block body %}
            {{ parent() }}
            <div>
                <h1><span style="color: black">Hello</span>
                    {{ name[0] }}
                    <form class="form" method="post" action="{{ path('add_users_photo') }}">
                        <button title="Click to change Photo" type="submit" style="cursor:pointer; background-color: white; border: none;">
                            <img class="userPhoto"
                                 src="{{ photoUrl[0] }}">
                        </button>
                    </form>
                </h1>
                <div class="form">
                <form  method="post" action="{{ path('add_url') }}">
                    <input type="text" name="photoUrl" placeholder="Add your url photo">
                    <button
                        class="btn btn-outline-primary"
                        title="Add Photo"
                        type="submit"
                        style="margin-bottom: 5px"
                    >
                        Submit
                    </button>
                </form>
                    <button
                        class="btn btn-outline-danger"
                        title="Back" onclick="window.location.href = '{{ path('list_items') }}'"
                        style="margin-bottom: 5px"
                    >
                        Back
                    </button>
                </div>
            </div>
            <div class="form" style="margin-top: 20%">
                <h1>Delete Account!</h1>
            </div>

            <form class="form" method="POST"
                      action="{{ path('delete_account') }}"
                >
                    <button
                        class="btn btn-outline-danger"
                        type="submit">Delete</button>
                </form>
        {% endblock body %}

