{% extends './base.html.twig' %}
{% block body %}
<div>
    <h1 style="color: rgb(239, 105, 66);">Hello {{ name[0] }}</h1>
    <a href="{{ path('log_out') }}" style="float: right;">
        <button class="btn btn-outline-primary">Log out</button>
    </a>
    <h2>Todos:</h2>

    {% for skill in skills%}
        <ul>
            <li>
                {% autoescape false %}
                    <form method="post" action="{{ path('delete_items') }}">
                        {{ skill }}
                        <input type="hidden" name="name" value="{{ skill }}">
                        <button class="btn btn-outline-primary" type="submit"> Delete! </button>
                    </form>
                {% endautoescape %}
            </li>
        </ul>
    {% endfor %}
    <form method="post" action="{{ path('save_items') }}">
        <input type="text" name="nameOfSkill" placeholder="Add new skills">
        <button class="btn btn-outline-primary" type="submit">Add</button>
    </form>
    {#    <script>        alert("haha i hacked you")    </script>#}
</div>
{% endblock %}
