{% extends './base.html.twig' %}
{% block body %}
    <div>
        <div class="logout">
            <form action="{{ path('log_in') }}" method="get">
                <button class="btn btn-outline-success successButton" title="Login" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="32" height="32">
                        <path d="M217.9 105.9L340.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L217.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1L32 320c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM352 416l64 0c17.7 0 32-14.3 32-32l0-256c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0c53 0 96 43 96 96l0 256c0 53-43 96-96 96l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z"/></svg>
                </button>
            </form>
        </div>

        <h1>Hello Moebel</h1>

        <h3>Todos from all users</h3>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Users</th>
                <form method="post" action=" {{ path ('table') }}">
                    <th>
                        <input type="hidden" name="sortName" value="{{ sortName ? 0 : 1 }}">
                        <button class="btn btn-outline-danger"
                                title="Click to sort"
                                type="submit">Name's of Todos
                        </button>
                    </th>
                </form>
                <form method="post" action=" {{ path ('table') }}">
                    <th>
                        <input type="hidden" name="sortEmail" value="{{ sortEmail ? 0 : 1 }}">
                        <button class="btn btn-outline-danger"
                                title="Click to sort"
                                type="submit">Emails
                        </button>
                    </th>
                </form>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            {% for skill in skills %}
                <tr>
                    <form method="post" action="{{ path('some_users_todo') }}">
                        <input type="hidden" name="email" value="{{ skill.email }}">
                        <td style="text-align: center;">
                            <img class="userPhoto"
                                 {% if  skill.userPhoto is null %}
                                     src="https://assets.stickpng.com/images/585e4bf3cb11b227491c339a.png"
                                 {% else %}
                                     src="{{ skill.userPhoto }}"
                                 {% endif %}
                            >
                        </td>
                        <td style="text-align: center;">{{ skill.nameOfTodo }}</td>
                        <td style="text-align: center;">{{ skill.email }}  </td>
                        <td style="text-align: center">
                            <button class="btn btn-outline-primary" type="submit"> See User</button>
                        </td>
                    </form>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
